@media (max-width: 1100px) {
  .hamburgerItems {
    display: flex !important;
    flex-direction: column !important;
  }

  .hamburgerContent {
    text-align: center;
    padding-bottom: 50px;
    align-items: center;
  }

  .hamburgerItems img {
    width: 50% !important;
    width: auto;
  }

  .hamburgerBottomItems {
    flex-direction: column !important;
    gap: 40px;
  }

  .hamburgerBottomItem1,
  .hamburgerBottomItem2,
  .hamburgerBottomItem3,
  .hamburgerBottomItem4 {
    flex-direction: column !important;
  }
}
